body{
    padding: 100px;
}
.title{
    text-align: center;
    /* color:  #000099; */
    font-weight: 700;
}
label{
    font-weight: 700;
    /* color: #000099 ; */
}

.form{
    margin-top: 40px;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px lightslategrey;
}
#banking-area{
    display: none;
}

/* -----banking area---- */

.deposit{
    background-color: orange;
}
.withdraw{
    background-color: salmon;
}
.balance{
    background-color: slateblue;
}
.status{
    margin: 0px 20px;
    color: white;
    padding: 20px;
    border-radius: 20px;
}
.input-box{
    margin-top: 50px;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px lightslategrey;
}